.header {
  background-color: rgb(27, 120, 241);
  color: bisque;
  position: relative;
  padding: 1rem;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;

  &__tittle {
    font-size: 0.5 rem;
    color: rgb(255, 225, 0);
    justify-content: center;
  }
}
